.card-content_box {
  background-color: aqua;

  .image_box {
    background-color: rgb(180, 194, 52);
  }
  .activity__participants {
    background-color: rgb(241, 128, 22);
  }
  .activity__takeholders {
    background-color: rgb(177, 39, 74);
  }
  .activity__description {
  }
  .activity__comments {
    background-color: rgb(212, 12, 169);
  }
  .activity__picture {
    background-color: rgb(4, 0, 255);
  }
}
