@import '../../vars';

.container_activity {
  // background-color: rebeccapurple;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  background-color: $clear;

  .left {
    // background-color: red;
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    .image_box {
      justify-content: center;
      .activity__picture {
        height: 80vh;
      }
    }

    .activity__adress {
      text-align: center;
    }
  }
  .right {
    // background-color: green;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    .right_container {
      .activity__participants {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
      }
      .activity__takeholders {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
      }

      .activity__description {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
      }
      .activity__comments {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  // modal create comment
  .activity__create-comment {
    display: none;
  }

  .isActive {
    display: block;
  }
}
