.LoginForm {
  margin: 3em 1em;

  .input {
    margin-bottom: 1em;
  }

  .errorMessage {
    color: red;
  }
}
.isHidden {
  display: none;
}

.restoreForm {
  display: none;
  margin: 3em 1em;

  .errorMessage {
    color: red;
  }
}
.showRestoreForm {
  display: flex;
}
