@import '../../vars';

.createActivity {
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 95vw;
  margin: 0 auto;
  max-width: 1920px;

  .name {
    width: 30%;
  }

  .in-container {
    display: flex;
    flex-wrap: wrap;
  }

  .rigth,
  .left,
  .center {
    width: 30rem;
    padding: 0 1rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    .userChoise {
      display: flex;
      flex-wrap: wrap;
      min-width: 100%;
      .width-30 {
        min-width: 100%;
      }
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .validation-button {
    display: flex;
    width: 33%;
    margin-top: 2rem;
    justify-content: space-around;

    button {
      width: 6rem;
    }
  }
}

@media screen and (max-width: 1030px) {
  .createActivity {
    .name {
      margin-top: 20rem;
      width: 90%;
    }
  }
}

@media screen and (max-width: 500px) {
  .createActivity {
    .name {
      margin-top: 20rem;
      width: 90%;
    }
    margin: 0 auto;
    .in-container {
      width: 100%;
    }
    .left {
      .userChoise {
        flex-direction: column;
        .column {
          padding: 0;
          margin: 0;
        }
      }
    }
    .rigth {
      padding: 0;
    }
  }
}
