@import '../../vars';

#footer {
  position: absolute;
  top: 93vh;
  z-index: 1;
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  color: $dark;
  .copyright {
    position: absolute;
  }
  .footerNav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    list-style: none;
    color: $dark;
    li a {
      text-decoration: none;
      &:hover {
        color: $highlight;
        cursor: pointer;
      }
    }
  }
  .footerNav li:nth-child(2) {
    border-left: 2px solid $dark;
    border-right: 2px solid $dark;
    margin: 0 1rem;
    padding: 0 1rem;
  }

  .addActivity {
    color: $dark;
    font-size: 4.4rem;
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1040px) {
  #footer {
    .addActivity {
      display: none;
    }
  }
}

@media screen and (max-width: 890px) {
  #footer {
    .copyright {
      display: none;
    }

    .footerNav {
      margin: 0 auto;
      padding: 0;

      li {
        text-align: center;
        margin: 0;
        padding: 0.01rem;
        font-size: 1rem;
      }
    }
  }
}
