footer {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  .copyright {
    position: absolute;
  }
  .footerNav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    li a {
      text-decoration: none;
      color: #4a4a4a;
    }
  }
  .footerNav li:nth-child(2) {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    margin: 0 1rem;
    padding: 0 1rem;
  }
  .askHelp {
    text-decoration: none;
    color: whitesmoke;
    margin: 0;
    font-size: 1.5rem;
  }
}

.iconbar {
  background-color: #faebd7;
}

.icon_create {
  background-color: rgb(197, 197, 197);
  display: flex;
  margin: auto;
  border: none;
}

@media screen and (max-width: 550px) {
  footer {
    display: none;
  }
}
