

footer {
  display: none;
  width: 100%;
  height: 7vh;
}

.iconbar {
  background-color: blue;
}

.icon_create {
  background-color: rgb(197, 197, 197);
  display: flex;
  margin: auto;
  border: none;
}
