@import '../../vars';

.createComment {
  width: 100%;
  margin: 0 auto;

  .control {
    display: none;
  }

  .isActive {
    display: flex;
  }

  .is-primary {
    background-color: $dark;
    border-radius: 25px;
    text-align: center;
    color: $white-local;
    padding: 0.9rem;
    border: $white-local;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    width: 100%;
    height: 4rem;
    &:hover {
      cursor: pointer;
      background-color: $highlight;
      color: $white-contrast;
      border-color: $highlight;
    }
  }
}
