// ROOT
.desktop {
  display: flex;
  flex-wrap: wrap;
  .left {
    // height: calc(100vh - 14vh);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mapComposant {
    -webkit-box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.72);
    .leaflet-container {
      width: 48vw;
      height: 80vh;
    }
  }

  .right {
    height: calc(100vh - 14vh);
    width: 50%;
    .search {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .activitiesList {
      height: 90%;
      overflow: auto;
    }
  }
  .icon_create {
    display: none;
  }
}

footer {
  .icon_create {
    display: none;
  }
}

// modal --------------------------------------------------

#modalActivity,
#modalCreateActivity,
#modalLogin,
#modalProfil,
#modalSettings,
#modalCreateProfil,
#modalListActivities {
  // overflow: auto;
  display: none;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2000;
  background-image: radial-gradient(
    circle,
    #000000,
    rgba(0, 0, 0, 0.835171568627451)
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // animation
  -webkit-animation-name: fadeInOpacity;
  animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.isActive {
  display: flex !important;
}

.icon_close {
  font-size: 2rem;
  position: absolute;
  // right: 13rem;
  // top: 13rem;
  top: 13px;
  right: 13px;

  &:hover {
    cursor: pointer;
    color: white;
  }
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ------------------------------------------------------------

@media screen and (max-width: 765px) {
  .desktop {
    flex-direction: column;
    align-items: center;
    .left,
    .right {
      width: 100%;
      z-index: 1;
    }
    .left {
      .leaflet-container {
        width: 95vw;
        height: 80vh;
      }
    }

    .isActive {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

// -------------------------------------------------------------

@media screen and (max-width: 550px) {
  .desktop {
    .icon_close {
      z-index: 2;
    }
    .right {
      height: auto;
      position: absolute;
      top: 5rem;
      .activitiesList {
        display: none;
      }
    }
    .icon_create {
      display: block;
      font-size: 4rem;
      background-color: #ffffff00;
      color: lightgreen;
      position: relative;
      bottom: 2rem;
      z-index: 1000;
      border-radius: 90%;
      -webkit-box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.72);
      box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.72);
    }
  }
}
