@import '../../vars';

// ROOT
.desktop {
  .popup {
    background-color: white;
    width: 21rem;
    font-size: 1.5rem;
    color: red;
    text-align: center;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 3px 3px 8px 4px rgb(34 41 43 / 25%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 3;
    &:hover {
      cursor: pointer;
    }
  }
  .visible {
    display: block !important;
  }
  display: flex;
  flex-wrap: wrap;
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mapComposant {
    .leaflet-container {
      z-index: 1;
      width: 100vw;
      height: 100vh;
    }
  }

  .right {
    display: none;
    width: 98vw;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
    height: 89vh;
    overflow: scroll;
    top: 7vh;
    justify-content: flex-end;
    .search {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .showActivitiesList {
    display: flex !important;
  }

  .isActive {
    display: flex !important;

    .icon_close {
      font-size: 2rem;
      position: absolute;
      top: 13px;
      right: 13px;

      &:hover {
        cursor: pointer;
        color: white;
      }
    }
  }
}

footer {
  .icon_create {
    display: none;
  }
}

// modal --------------------------------------------------
#modalProfil {
  overflow: scroll;
  z-index: 1;
}

#modalLogin {
  z-index: 1;
}

#modalActivity {
  z-index: 2;
}

#modalLegalmention,
#modalHelp,
#modalActivity,
#modalCreateActivity,
#modalLogin,
#modalProfil,
#modalSettings,
#modalCreateProfil,
#modalListActivities {
  // overflow: auto;
  display: none;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // animation
  -webkit-animation-name: fadeInOpacity;
  animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// ------------------------------------------------------------

@media screen and (max-width: 765px) {
}

// -------------------------------------------------------------

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 822px) {
  .desktop {
    .right {
      .activitiesComposant {
        margin: 0 auto;
      }
    }
  }
}
