@import '../../vars';

.profil_card {
  height: 100vh;
  margin: 0 auto;
  color: white;
  overflow: auto;

  .profile-activities {
    color: white;
  }

  // tableau d'activités
  .listActivities_panel {
    .activities-list {
      display: flex;
      // regle pour ordonner du plus récent au plus ancien
      flex-direction: column-reverse;
    }
  }
}
