<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Accueil &#128526;</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="'css/reset.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <h1>Bienvenue chez TOTUM &#128551;</h1>

    <h2>Presentation du projet &#129299;</h2>
    <p>
      Vous vouliez faire du tennis, mais votre ami, avec qui vous deviez jouer, n'est finalement plus disponible.
      Vous vouliez faire un foot, mais vos amis ont finalement préféré profiter de leur dimanche aprem pour faire la sieste.
      Vous voulez organiser une soirée jeux de rôle, mais l'un des participants vous a fait faux bond.
      Afin de remédier à ça, il y a Totum.
      Totum est une application qui met en relation des particuliers d'une même ville afin qu'il puisse avoir une personne avec qui faire des activités sportives et ludiques.
      Cela permettra à des passionnés d'une même activité d'entrer en contact afin qu'ils puissent partager et pratiquer leur activité favorite.
      En plus du fait de pouvoir rechercher une activité à rejoindre, les utilisateurs pourront également proposer des activités.
      </p>

      <h3> Liens utiles &#127877;&#127995;</h3>

      <div class="link-div">
        <a href="https://api.totum.ovh/api-docs" target="_blank" class="alink">Documentation API &#128119;&#127995;</a>
        <a href="https://totum.ovh/" target="_blank" class="alink">L'application &#129297;</a>
    </div>

      <!-- <p>Documentation API &#128119;&#127995; : <a href="https://api.totum.ovh/api-docs" target="_blank">https://api.totum.ovh/api-docs</a> </p> -->

      <!-- <p>L'application &#129297; : <a href="https://totum.ovh/" target="_blank"> https://totum.ovh/</a></p> -->

</body>
</html>
