 


.changeProfile {
  margin: 0 auto;
  padding: 0 1rem;
  input {
    margin-bottom: 0.5em;
  }

  .password {
    display: flex;
  }

  .zipCity {
    display: flex;
  }

  .OptionLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    justify-content: space-evenly;
    .checkbox {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0;
      input {
        margin: 1rem 1rem;
      }
    }
  }

  .button {
    margin: 2rem auto;
    display: block;
  }

  .checkbox {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  p {
    margin-top: 1em;
  }

  .checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .inputError {
    background-color: rgb(187, 10, 128);
  }
}
